@import "assets/styles/main";

.proto__matchmap__header {
  text-align: center;
  margin: 15px 0 15px 0;
  font-weight: 500;
  font-size: large;
}

.ant-input-number {
  width: 65px;
  margin: 0 15px 0 15px;
}
