.input__edit {
  color: #1890ff;
  cursor: pointer;
}

.input__confirm {
  color: #1890ff;
  cursor: pointer;
}

.input__cancel {
  color: #fa541c;
  cursor: pointer;
}

.input__edit__disabled {
  color: #b9b9b9;
}

.search__box__container {
  margin-top: 20px;
  text-align: center;
}

.search__box {
  width: 700px;
}

.leaguename__copy__button {
  margin-right: 12px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}
