.modal__textarea {
  margin: 10px 0 10px 0;
}

.modal__select__container {
  float: right;
}

.modal__select__container > span {
  margin-right: 18px;
  font-size: 16px;
  font-weight: bold;
}

.match__preview__datepicker {
  margin: 20px;
}

.count__sports {
  font-size: 16px;
}

.count__sports__container {
  float: right;
  margin-top: 25px;
}

.button--statistics {
  float: right;
  margin: 18px 25px 0px 15px;
}

.radio__button__container {
  margin: 0 20px 20px 0;
}

.week__month__picker_container {
  margin-left: 30px;
}
